<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#" />      
    <link rel="stylesheet" href="../static/file/form_validation/bootstrap4/css/bootstrap.min.css">  
	<link rel="stylesheet" href="../static/file/form_validation/estilos.css">
    <title>ABRIR VACANTE</title>  
  </head>
  <body>
     <header style="height: 70px">
       
     </header> 
    <div style="height: 30px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <div class="card shadow-lg p-3 mb-5 bg-white ">
        <div class="card-header">ABRIR VACANTE</div>
        <div class="card-body">
          {% for postulante in postulantes %}
        <form id="form1" action="http://127.0.0.1:5000/re" method="post" class="needs-validation" novalidate>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="nombre">Nombre:</label>
                        <input name="Empleo" type="text" readonly class="form-control" id="nombre" placeholder="" value= '{{postulante.1}}' required>
                        <div class="valid-feedback">¡Ok válido!</div>
                        <div class="invalid-feedback">Complete el campo.</div>    
                      </div> 
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="nombre">Periodo de contrato</label>
                      <select name="Periodo" type="number" class="form-control" id="usuario" placeholder="" aria-describedby="inputGroupPrepend" required>
                        <option>PERMANENTE</option>
                        <option>AÑOS</option>
                        <option>MESES</option>
                    </select>
                      <div class="valid-feedback">¡Ok válido!</div>
                      <div class="invalid-feedback">Complete el campo.</div>    
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="usuario">Puesto</label>
                        <div class="input-group">
                            <select name="Puesto" type="number" class="form-control" id="usuario" placeholder="" aria-describedby="inputGroupPrepend" required>
                                <option>CEO</option>
                                <option>Gerente Financiero</option>
                                <option>Gerente IT</option>                 
                                <option>Gerente Comercial</option>
                                <option>Gerente de Servicios Administrativos</option>                 
                                <option>Gerente de Marketing</option>                
                                <option>Gerente de Recursos Humanos</option>
                                <option>Gerente de Operaciones</option>                 
                                <option>Gerente de Comunicaciones</option>
                                <option>Gerente de Logística</option>
                            </select>
                          <div class="valid-feedback">¡Ok válido!</div>
                        <div class="invalid-feedback">Complete el campo.</div>   
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="usuario">Salario</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">$</span>
                          </div>
                          <input name="Salario" type="number" class="form-control" id="usuario" placeholder="" aria-describedby="inputGroupPrepend" required>
                          <div class="valid-feedback">¡Ok válido!</div>
                        <div class="invalid-feedback">Complete el campo.</div>   
                        </div>
                      </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="apellido">Descripción</label>
                        <textarea name="Descripcion" type="text" class="form-control" id="descripcion" placeholder="" value="" rows="3" required></Textarea>
                        <div class="valid-feedback">¡Ok válido!</div>
                        <div class="invalid-feedback">Complete el campo.</div>   
                      </div>                     
                    <div class="col-md-6 mb-3">
                      <label for="usuario">Respuesta Automática</label>
                      <div class="input-group">
                        
                        <TExtarea name="Automatica" type="text" class="form-control" id="usuario" placeholder="" aria-describedby="inputGroupPrepend" rows="3" required></TExtarea>
                        <div class="valid-feedback">¡Ok válido!</div>
                      <div class="invalid-feedback">Complete el campo.</div>   
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                      <label class="form-check-label" for="invalidCheck">Acepto términos y condiciones</label>
                      <div class="valid-feedback">¡Aceptado!</div>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="submit">Enviar</button>
                </form>
                {% endfor %} 
        </div>   
    </div>
            </div>       
        </div>                  
    </div>
      
    <script src="../static/file/form_validation/jquery/jquery-3.3.1.min.js"></script>	 	
    <script src="../static/file/form_validation/popper/popper.min.js"></script>	 	 	
    <script src="../static/file/form_validation/bootstrap4/js/bootstrap.min.js"></script>   	
    <script src="../static/file/form_validation/codigo.js"></script> 	  	
  </body>
</html>